/* AdminNavbar.css */
.admin-navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.admin-navbar-content {
  display: flex;
  align-items: center;
}

/* Centrar la campana de notificaciones */
.notification-bell {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.notification-list {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
}

.notification {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification:last-child {
  border-bottom: none;
}

.notification-success {
  background-color: #4caf50;
  color: white;
}

.notification-error {
  background-color: #f44336;
  color: white;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Ajustar tamaños de las imágenes de las notificaciones */
.notification-bell img {
  width: 30px;
  height: 30px;
}

/* Centrar la imagen de la campana de notificaciones */
.notification-bell img {
  display: block;
  margin: 0 auto;
}

.notification-list img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}