.brands {
    text-align: center;
    padding: 30px;
  }
  
  .brand-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  
  .brand {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  