.carousel {
  width: 100%; /* Ancho completo */
  max-width: 1200px; /* Ancho máximo */
  margin: 0 auto; /* Centrado horizontalmente */
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  flex-shrink: 0;
  height: 500px; /* Mayor altura para un carrusel más grande */
  overflow: hidden;
}

.carousel-item-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
