/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #18191e;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure navbar stays on top */
  border-bottom: 1px solid #333;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #ccc;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative; /* Necesario para el dropdown */
}

.nav-links li a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
}

.nav-links li a:hover {
  color: #ccc;
}

/* Nav Actions Styles */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 0.25rem;
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}

.search-bar input {
  background: transparent;
  border: none;
  color: white;
  padding: 0.25rem;
  width: 100%;
}

.search-bar input::placeholder {
  color: #ccc;
}

.search-bar button {
  background: transparent;
  border: none;
  color: white;
  padding: 0.25rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.search-bar button:hover {
  color: #ccc;
}

.cart-icon {
  transition: opacity 0.3s ease;
  height: 30px;
  width: 30px;
}

.cart-icon:hover {
  opacity: 0.7;
}

.cart-icon svg {
  width: 100%;
  height: 100%;
}

/* Menu Icon Styles */
.menu-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Dropdown Styles */
.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%; /* Se muestra justo debajo del elemento */
  left: 0;
  background-color: #18191e;
  border: 1px solid #333;
  list-style: none;
  padding: 0;
  display: none; /* Oculto por defecto */
  width: 180px;
}

.dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.dropdown li a:hover {
  background-color: #333;
}

/* Muestra el dropdown al pasar el mouse */
.nav-links li:hover .dropdown {
  display: block;
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .logo {
    width: 100%;
    text-align: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-actions {
    width: 100%;
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
  }
  
  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .dropdown {
    position: static;
    display: none;
    width: 100%;
    border: none;
  }

  .dropdown.active {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1025px) {
  .menu-icon {
    display: none;
  }
  .nav-links {
    display: flex;
  }
}
